.btn {


font-size: 30px;
border: none;
margin: 5px;
padding: 4px;

cursor: pointer;
}



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {...}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {...}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {...}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {...}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {...}

.new{

color: rgb(255, 255, 255);
background-color: blue;



}

.new:hover{

   
    background-color: rgb(12, 12, 143);
   
    
    
    }



.old{

color: white;
background-color: chocolate;



}




.old:hover{

   
    background-color: rgb(151, 68, 8);
    
 
    
    }
    


.current{

color: white;
background-color: teal;


}


.current:hover{

   
    background-color: rgb(7, 95, 95);
  
    
    }
    



.password{


 
 background-color: rgb(113, 163, 14);
 
 
    color: white;
}

.password:hover{



    background-color: rgb(80, 119, 2);
    
    
  
   }


.forget{

background-color: red;
    color: white;
}


.forget:hover{

    background-color: rgb(163, 10, 10);
   
    }






/*new button style start*/



.btun{


    font-size: 30px;
    margin: 5px;
    padding: 4px;
    
    cursor: pointer;
background-color: aquamarine;
}




.newb{
    color: lightcoral;
    border:2px solid lightcoral ;

}

.newb:hover{

    color: white;
    border: lightcoral;

    background-color: lightcoral;
}

.oldb{

color: chocolate;
border:2px solid chocolate ;


}



.oldb:hover{

    color: white;
    border: chocolate;
    background-color: chocolate;
}

    

.currentb{


    color: steelblue;
    border:2px solid steelblue ;

}


.currentb:hover{

    color: white;
    border: steelblue;
    background-color: steelblue;
}

.passwordb{


    color: orange;
    border:2px solid orange ;

}

.passwordb:hover{

    background-color: orange;
    color: white;
    border: orange;
}


.forgetb{
    
    color: red;
    border:2px solid red ;


}



.forgetb:hover{

    background-color: red;
    color: white;
    border: red;


}







/*new button*/




.button {
    border-radius: 4px;
    background-color: orangered;
    
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }


  .button:hover{

    background-color: orange;
  

}
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }  

.div{




    font-size: 20px;
box-sizing: border-box;
height: 100px;
width: 250px;
margin: 40px;
padding: 5px;

}


.hidden{


    
    overflow: hidden;

    position: relative;
margin-left: 500px;
}

.visible{
    overflow: visible;
    margin-bottom: 100px;

    position: relative;
margin-left: 500px;
}



.scrool{


    position: relative;
margin-left: 500px;
    overflow: scroll;
}


 .auto{

    overflow: auto;
    position: relative;
margin-left: 500px;
 }


 .x{
     overflow-x: scroll;
 
 overflow-y: hidden;  
width: 500px;
height: 150px;

position: relative;
margin-left: 500px;



 }


 .y{
overflow-x: hidden;
overflow-y: scroll;
position: relative;
margin-left: 500px;

 }


 .overflow{
font-size: 30px;
margin-left: 40px;
    color: white;
    width: fit-content;
    background-color: steelblue;
    padding: 8px;
    position: relative;
margin-left: 500px;
 }

 
 #overflow_all :hover{

background-color: rgba(39, 179, 132, 0.486);
cursor: pointer;

 }






 @keyframes example {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:200px; top:0px;}
    50%  {background-color:blue; left:200px; top:200px;}
    75%  {background-color:green; left:0px; top:0px;}
    100% {background-color:red; left:0px; top:0px;}
  }
  
  /* The element to apply the animation to */
  .button {
    
    background-color: red;
    animation-name: example;
    animation-duration: 15s;
    position: relative;
    animation-delay: 3s;
    animation-iteration-count: 3;
    animation-direction: reverse;

  }



  @keyframes number{

    from{ background-color: orangered;}
to{background-color: rgb(243, 238, 236);}



  }


  h1{
height: 40px;
width: fit-content;
margin: 10px;
padding: 5px;
background-color: orangered;
animation-name: number;
animation-duration: 5s;

  }

























